[client]
#password	= your_password
port		= 3306
socket		= /tmp/mysql.sock

[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
datadir=/data/dbfile/

skip-external-locking
max_allowed_packet = 1M
max_connections = 200
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size= 268435456
query_cache_type = 1 
query_cache_limit = 1048576 
# Try number of CPU's*2 for thread_concurrency
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
lower_case_table_names = 1

slow-query-log = on
slow_query_log_file = /data/dbfile/slow.log
long_query_time = 1
log_queries_not_using_indexes = 1

#innodb_fast_checksum=OFF
#innodb_page_size=16384
#innodb_log_block_size=512

thread_concurrency = 8
sort_buffer_size = 16M
join_buffer_size = 1M

log-bin=mysql-bin
binlog_format=mixed
server-id	= 2

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

basedir = /usr/local/mysql-5.5.14
datadir = /usr/local/mysql-5.5.14/data
log-error = /usr/local/mysql-5.5.14/mysql_error.log
pid-file = /usr/local/mysql-5.5.14/data/mysql.pid
default-storage-engine=MyISAM
user = mysql
 
